.nav{
    background-color: #00a884;
}
.content
{
    min-height:80vh;
    border: 2px solid rgb(242, 238, 238);
    max-height: 80vh;
    overflow-y:auto;
  
}
.sendBox{
    border:2px solid rgb(220, 219, 219);
    min-height:6vh;
    
}

.container
{
    flex-direction: column;
    height: 95vh;
    width: 91vw;
    background-color: #f8f9fa;
    z-index: 10;
  display: flex;
  transition: all 0.25s linear;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
}


/* #messages > li { padding: 0.5rem 3rem; clear:both; }
#messages > li:nth-child(odd) { clear:both ; float:right } */

ul{
    list-style-type: none;
}