.leftside
{
   height: 100%;
   width: 35%;
   background-color: rgb(245, 245, 245);
}
.rightside
{
     height: 100%;
     width: 65%;
   background-color: rgb(248 249 251);
  
}

.add{
   position: relative;
   bottom: 0;
   right: 0;

}
li:hover{
   background: #dcdbdb;
}
.optionDot
{
   float:right
   
}
.username
{
   color:rgb(13, 135, 135);
   font-weight: 700;
   font-size: larger;
   
}
.ListUsername
{
   color:rgb(76, 77, 77);
   font-weight: 700;
   font-size: larger;  
}